.list {
  list-style-type: none;
  padding: 0;
}
.event {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.date {
  margin-bottom: 0.5em;
}
.time {
  color: gray;
  font-size: 0.9em;
}
.reminderItem {
  margin-bottom: 1em;
}
.empty {
  font-style: italic;
  color: gray;
}
