.main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .settingButton {
  background: none;
  border: none;
  padding: 0;
  margin-left: auto;
  align-items: center;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}
.Search {
  display: flex;
  align-items: right;
}
.settingButton {
  display: block;
  padding: 10px 20px;
  background-color: #eaeaea;
  text-align: right;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.settingButton:hover {
  background-color: #c0c0c0;
}
.subtitle {
  font-size: 24px;
  color: #555;
  margin-bottom: 15px;
}
.tasks {
  padding: 20px;
  background-color: #f9f9f9;
}
.text {
  font-size: 18px;
  color: #333;
}
.time {
  font-size: 14px;
  color: #666;
}
.list {
  list-style-type: none;
  padding: 0;
}
.tasksItem {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.taskLink {
  margin-top: 30px;
  text-align: center;
}
.todoLink {
  margin-top: 30px;
  text-align: center;
}
.Button {
  display: block;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  text-align: right;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.Button:hover {
  background-color: #005bb5;
}
